<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>An American Saxophonist: Kenny G</title>
    <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous"
  />
</head>
<body>
   <p><center>Kenneth Bruce Gorelick</p></center>
   <h4><center>Saxophonist Kenny G</h4></center>

<img src="https://media.gq.com/photos/620440cc7a867da56021cf20/master/pass/kennyg.jpg" width = 600px alt="Kenny G"">

<img src="https://www.aso.org/assets/img/ev_KennyG-1-d162f36a45.jpg" width = 600px alt="Kenny G"">


   
   <p>Kenneth Bruce Gorelick, known professionally as Kenny G, is an American smooth jazz saxophonist, composer, and producer. His 1986 album Duotones brought him commercial success. Kenny G is one of the best-selling artists of all time, with global sales totaling more than 75 million records. Wikipedia
    Born: June 5, 1956 (age 66 years), Seattle, WA
    Spouse: Lyndie Benson (m. 1992–2012), Janice Deleon (m. 1980–1987)
    Full name: Kenneth Bruce Gorelick
    Height: 5′ 7″
    Awards: Grammy Award for Best Instrumental Composition, MORE
    Parents: Morris Gorelick, Evelyn Gorelick
    </p>
   <div class="mb-3">

</body>
</html>